body {
    font-family: Arial, Helvetica, sans-serif;
    background: #3d5a80;
    color: #fff;
}
ul {
    list-style: square;
    list-style-image: url('http://localhost/practica_semana7/img/check.png');
}
