* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #3d5a80;
    font-family: Arial, Helvetica, sans-serif;
    color: #293241;
}
.contenedor {
    background: #98c1d9;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
}
input {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}
input[type='text'],
input[type='number'],
input[type='email']{
    width: 100%;
    background: #e0fbfc;
    padding: 10px;
    border: 1px solid #98c1d9;
    border-radius: 10px;
}
input[type='submit']{
    background: none;
    border: 1px solid #ee6c4d;
    color: #ee6c4d;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}
input[type='submit']:hover{
    background: #ee6c4d;
    color: #fff;
}
input[name='codigo'],
input[name='dni']{
    width: 49%;
}
input[name='codigo']{
    float: left;
}
input[name='dni']{
    float: right;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus {
    border: 2px solid #98c1d9;
}